body {
    display: grid;
    grid-template-areas: 
        'cabecalho cabecalho cabecalho'
        'principal principal perfil'
        'rodape rodape rodape';
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}