article.cartao {
    margin-bottom: 1rem;
}

section.cartao {
    margin-bottom: 2rem;
    box-shadow: 1px 1px 10px 1px var(--cinza-claro);
}

.cartao__cabecalho {
    padding: .5rem 1rem;
    display: block;
    text-align: left;
    text-decoration: none;
    background-color: var(--azul-medio);
    color: var(--cinza-claro);
    border-radius: 5px;
    transition: 300ms;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

.cartao__cabecalho__curso {
    padding: .5rem 1rem;
    display: block;
    text-align: left;
    text-decoration: none;
    background-color: var(--branco-escuro);
    color: var(--azul-escuro);
    border: solid 1px;
    border-radius: 5px;
    transition: 300ms;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

a.cartao__cabecalho:hover {
    color: var(--branco);
}

a.cartao__cabecalho__curso:hover {
    color: var(--azul-claro);
}

.cartao__corpo {
    border: none;
    padding: 1rem 2rem;
    background-color: var(--branco);
}

.cartao__corpo__curso {
    background-color: var(--branco-escuro);
    border: none;
}

.cartao__titulo {
    color: var(--laranja-escuro);
    margin: 1rem 0;
    font-size: 1.5rem;
}

.cartao__subtitulo {
    color: var(--cinza-medio);
    margin-bottom: 1rem;
}

.cartao__lista {
    margin-bottom: 1rem;
}

.cartao__lista__item {
    color: var(--cinza-escuro);
    background-color: var(--branco);
}

.cartao__lista__item__curso {
    color: var(--cinza-escuro);
    background-color: var(--branco-escuro);
}

.cartao__etiqueta {
    color: var(--cinza-claro);
    width: 100px;
}
.cartao__etiqueta::after {
    content: ": ";
}

.cartao__links {
    text-align: right;
}

.cartao__links__item {
    color:var(--branco);
    background-color: var(--laranja-escuro);
    display: inline-block;
    width: 110px;
    margin-left: 1rem;
    padding: .2rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: 300ms;
}

.cartao__links__item:hover {
    background-color: var(--laranja-claro);
    color: var(--branco);
}

@media (max-width: 767px) {
    .cartao__corpo {
        padding: 1rem 1rem;
    }
    .cartao__etiqueta {
        display: block;
    }
    .cartao__etiqueta::after {
        content: "";
    }
}

@media (max-width: 376px) {
    .cartao__links__item {
        display: block;
        margin: 1rem 0;
        width: 100%;
    }
}