.perfil {
    grid-area: perfil;
    background: linear-gradient(var(--azul-escuro), var(--branco-escuro));
    color: var(--cinza-claro);
    padding: 3rem 2rem;
    text-align: center;
}

.perfil__foto {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 2rem;
}

.perfil__titulo, .perfil__descricao, .perfil__habilidades, .perfil__hobbies {
    margin-bottom: 3rem;
}

.perfil__subtitulo {
    margin: 0;
}