.perfil {
    grid-area: perfil;
    background: linear-gradient(#000033, #F0F0F0);
    color: #DDDDDD;
    padding: 2rem;
    text-align: center;
}

.perfil__foto {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 100%;
    margin: 1rem 0;
}

.perfil__titulo {
    margin: 2rem 0;
}

.perfil__descricao {
    margin: 2rem 0;
}

.perfil__habilidades {
    margin: 2rem 0;
}