.principal {
    grid-area: principal;
    background-color: var(--branco-escuro);
    color: var(--azul-escuro);
    padding: 2rem 2rem;
}

.titulo-secundario {
    margin: 2rem 0;
    color: var(--azul-medio);
    font-size: 1.8rem;
}

@media (max-width: 767px) {
    .principal {
        margin: 0;
        width: 100%;
        padding: 1rem 1rem;
    }
    .titulo-secundario {
        text-align: center;
    }
}

@media (max-width: 376px) {
    .principal {
        font-size: .9rem;
    }
}