.principal {
    grid-area: principal;
    background-color: var(--branco-escuro);
    color: var(--azul-escuro);
    padding: 2rem 2rem;
}

.titulo-secundario {
    margin: 2rem 0;
    color: var(--cinza-medio);
    font-size: 1.8rem;
}