@media (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .perfil {
        margin: 0;
        width: 100%;
    }
    .principal {
        margin: 0;
        width: 100%;
        padding: 1rem 1rem;
    }
    .titulo-secundario {
        text-align: center;
    }
    .perfil__habilidades, .perfil__hobbies, .perfil__subtitulo {
        color: #000033;
    }
    .cartao__corpo {
        padding: 1rem 1rem;
    }
    .cartao__etiqueta {
        display: block;
    }
    .cartao__etiqueta::after {
        content: "";
    }
}

@media (max-width: 376px) {
    .principal {
        font-size: .9rem;
    }
    .cartao__links__item {
        display: block;
        margin: 1rem 0;
        width: 100%;
    }
}